# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
env/
venv/

# VS Code settings
.vscode/

# Byte-compiled or temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

__MACOSX
.gitignore
